* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.app {
  /* background-color: #505170; */
  background: linear-gradient(to top right, #191919, #4c4c4c);
}
.title-app {
  height: 10vh;
  font-size: 60px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #000, #dd1818);
}
.chat-app {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-app__wrapper {
}

.chat-app__left {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 100px;
}
.chat-app_img {
  padding: 50px;
  box-shadow: inset 0 0 20px black;
  border-radius: 10px;
  background-image: linear-gradient(to top right, #000, #202020, #dd1818);
}
.chat-app__image {
  width: 100%;
  box-shadow: 0 0 20px black;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(to top right, #191919, #4c4c4c);
}

.chat-app__right {
  padding: 50px;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0 0 20px black;
}

.chat-app__title {
  text-align: center;
  color: #d9d9d9;
  font-size: 2rem;
}
.chat-app__right form {
  padding: 30px;
  box-shadow: inset 0 0 20px black;
  border-radius: 10px;
}
.chat-app__title--line {
  width: 40%;
  margin: 20px auto;
  /* background-color: #dd1818; */
  height: 3px;
  border-radius: 50%;
}
.chat-app__btn-join {
  padding: 10px 30px;
  background: linear-gradient(to top right, #191919, #4c4c4c);
  background: #252525;
  box-shadow: 0 0 10px black;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 25px;
}
